<!DOCTYPE html>
  <html lang="en">
    <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/assets/style.css"/>
      <title>MyStyx</title>

    </head>

    <body>

      <h1><span id="title" onclick="window.location.href = '/'">MyStyx</span></h1>
      <p id="description">Perceive, Observe, Forecast.</p>

      <button onclick="window.location.href = '/reading_form'" class="button">I would like a Reading.</button>
      
    </body>

  </html>