<!DOCTYPE html>
  <html lang="en">
    <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/assets/style.css"/>
      <title>MyStyx</title>

    </head>

    <body>

      <h1><span id="title" onclick="window.location.href = '/'">MyStyx</span></h1>
      <p id="description">Perceive, Observe, Forecast.</p>

      <!-- © wdisseny -->
    <div id="contain_moon">
      <div style="font-weight: bold">Current Moon Phase</div>
      <div style=""></div>
      <div>.</div>
      <div style="font-size: small; color: #9e7e81">.</div>
    </div>
    
    <script>
      (function () {
        var d = new Date().getDate();
        var m = document.querySelectorAll("#contain_moon div");
        var a = new XMLHttpRequest();
        var url =
          "https://www.icalendar37.net/lunar/api/?lang=en&month=" +
          (new Date().getMonth() + 1) +
          "&year=" +
          new Date().getFullYear() +
          "&size=100&lightColor=rgb(249,245,200)&shadeColor=rgb(122,104,130)&t&LDZ=" +
          new Date(new Date().getFullYear(), new Date().getMonth(), 1) / 1000 +
          "";
        m[1].style.height = "100px";
        a.onreadystatechange = function () {
          if (a.readyState == 4 && a.status == 200) {
            var b = JSON.parse(a.responseText);
            m[1].innerHTML = b.phase[d].svg;
            if (typeof moon_widget_loaded == "function") moon_widget_loaded(b);
            m[2].innerHTML = b.phase[d].npWidget;
            m[3].innerHTML = "Next full moon<br>" + b.nextFullMoon;
          }
        };
        a.open("GET", url, true);
        a.send();
      })();
    </script>

      <button onclick="window.location.href = '/reading_form'" class="button">I would like a Reading.</button>
      <button onclick="window.location.href = '/login'" class="button">Login</button>
      
    </body>

  </html>