
<p>TESTING PAGE</p>

<p>Login page under construction... please come back later.</p>
<p>Don't have an account? <a href='/register'>Register here.</a></p>

<form id="login">

  <fieldset>

      <label for="loginEmail" id="loginEmail-label">Email: <input id="loginEmail" type="email" placeholder="Enter your email" required /></label>
      
      <label for="password" id="password-label">Password: <input id="loginEmail" type="password" placeholder="Enter your password" required /></label>

      <button class="button" type="submit">Login!</button>


  </fieldset>

</form>

