<p>TESTING PAGE</p>

<p>Already have an account? <a href='/login'>Log in here.</a></p>

<!--registration form here-->
<form id="resgister-form" action="/register" method="POST">

  <fieldset>

    <label for="email" id="email-label">Email: <input id="email" type="email" name="email" placeholder="Email" required /></label>
    
    <label for="username" id="username-label">Username: <input id="username" type="text" name="username" placeholder="Username" required /></label>
  
    <label for="password" id="password-label">Password: <input id="password" type="password" name="password" placeholder="Password" required/></label>
    
    <button class="button" type="submit">Register!</button>

  </fieldset>

</form>
