<p>TESTING PAGE</p>

<h2>Welcome, <%= name %></h2>

<!-- <button onclick="window.location.href = '/reading_form'" class="button">I would like a Reading.</button> -->
<button onclick="window.location.href = '/login'" class="button">Login</button>
      