body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #d5d9dc;
  color: #4b2a2c;
  font-family: Tahoma;
  font-size: 16px;
}

#title{
  cursor: pointer;
  width: auto;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  background-color: #bebcb7;
  border: 1px solid #bebcb7;
  color: #4b2a2c;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"], .button{
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #9e7e81;
  border-color: #4b2a2c;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}

.button:hover{
  background-color: #4b2a2c;
  border-color: #9e7e81;
  color: #9e7e81;
  cursor: pointer;
}
